.burger_btn {
  width: 1.8rem;
  height: 1.8rem;
}

.icons {
  width: 1.25rem;
  height: 1.25rem;
}

.logo_div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.logo_menu {
  width: 2rem;
  height: 2rem;
}

h4 {
  color: var(--text--10);
  font-size: 1.2rem;
}

.list_name {
  color: var(--text--10);
  font-family: Manrope;
  font-weight: 400;
}

.list_item:hover .list_name {
  color: var(--purple--80);
  font-weight: 900;
}

.swipeableDrawer {
  background-color: var(--purple--80);
  height: 100vh;
  position: relative;
}

.list_item:hover {
  background-color: var(--text--10);
}

.list_item_link {
  display: flex;
  align-items: center;
  text-decoration: none;
}

#list_bottom {
  position: absolute;
  bottom: 2rem;
}

h4 {
  color: var(--text--10);
  font-size: 1.2rem;
}

.list_top {
  color: var(--text--10);
}

.list_bottom {
  margin-bottom: 1rem;
  color: var(--text--10);
}

.SwipeableDrawer {
  background-color: var(--purple--80);
  height: 100vh;
}
