.burger-btn {
    width: 1.8rem;
    height: 1.8rem;
}

.icons {
    width:1.25rem;
    height:1.25rem;
}
.burger-btn {
    width: 1.8rem;
    height: 1.8rem;
}

.icons {
    width:1.25rem;
    height:1.25rem;
}

.logo-div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.logo-menu {
    width: 2rem;
    height: 2rem;
}

h4 {
    color: var(--text--10);
    font-size: 1.2rem;
}

.list-name {
    color: var(--text--10);  
    font-family: Manrope;
    font-weight: 400;
}

.list-item:hover .list-name {
    color: var(--purple--80);
    font-weight: 900;
}

.swipeableDrawer {
    background-color: var(--purple--80);
    height: 100vh;
    position: relative;
}

.list-item:hover {
    background-color: var(--text--10);
}

.list-item-link {
    display: flex;
    align-items: center;
    text-decoration: none;
}

#list-bottom {
    position: absolute;
    bottom: 2rem;
}

.logo-menu {
    width: 2rem;
    height: 2rem;
}

h4 {
    color: var(--text--10);
    font-size: 1.2rem;
}

.list-top {
    color: var(--text--10);
}

.list-bottom {
    margin-bottom: 1rem;
    color: var(--text--10);
}

.SwipeableDrawer {
    background-color: var(--purple--80);
    height: 100vh;
}