@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.App {
  text-align: left;
}

.style_label {
  font: 'Manrope';
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 2%;
  text-align: center;
  color: #55555f;
  width: 32px;
  height: 18px;
}

.style2_label {
  width: 57px;
  height: 18px;
  font: 'Manrope';
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 2%;
  text-align: center;
  color: #55555f;
}

.forgot {
  font: 'Inter';
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.23999999463558197px;
  text-align: right;
  width: 116px;
  height: 20px;
  top: 401px;
  left: 259px;
  color: #0b5fae;
}

.account {
  width: 238px;
  height: 20px;
  top: 518px;
  left: 116px;
  color: #89899c;
}

.sign {
  width: 55px;
  height: 20px;
  top: 518px;
  left: 299px;
  font: 'Inter';
  size: 15px;
  line-height: 20px;
  text-align: right;
  color: #0b5fae;
}
