.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  color: rgba(0, 0, 0, 0.5);
  width: 546px;
  height: 604px;
  top: 148px;
  left: 480px;
  border-radius: 8px;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.modal h2 {
  margin-top: 0;
}

.modal label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

.modal input {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
  border: 1px solid #ccc;
}

.modal button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
}

.modal-content {
  background: #fff;
  border-radius: 5px;
  padding: 20px;
  width: 300px; /* Adjust the width as needed */
  position: relative;
}

.modal-header {
  width: 158px;
  height: 31px;
  top: 168px;
  left: 500px;
  font: "Manrope";
  font-size: 26px;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: 0.02em;
  text-align: left;
  justify-content: left;
  color: #2b283d;
}

.close-button {
  width: 24px;
  height: 24px;
  top: 172px;
  left: 983px;
  text-align: right;
  justify-content: right;
}

.thumbnail_link {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

