.App {
  font: "Manrope";
  text-align: right;
  background-color: #f5f5f5;
  padding: 20px;
}

.task-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}

.create-project {
  border: none;
  cursor: pointer;
  display: fixed;
  background-color: #d8e0e8;
  border-radius: 8px;
  border: none;
  color: #110d59;
  padding: 10px 25px 10px 25px;
  margin-top: 5px;
}
