.grid-container {
  display: grid;
  grid-template-columns: 1fr 8rem 8rem 8rem;
  background-color: #fff;
}

.grid-container:hover {
  background-color: #f2f1ff;
}

.border-radius {
  border-radius: 8px;
  overflow: hidden;
}

.grid-item {
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #f1f2f4;
  display: flex;
  align-items: center;
}

.first-row {
  background-color: #fbfbfb;
}
