@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.App {
  text-align: left;
}

.forgot-pass {
  padding: 1rem;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

.flex-container {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
}

.image {
  align-self: center;
  padding: 3rem;
  width: clamp(15rem, 70%, 100rem);
  max-height: 80vh;
}

.icon {
  cursor: pointer;
}

a {
  color: #0b5fae;
  cursor: pointer;
}

p {
  color: #89899c;
}

.form {
  margin-left: auto;
  margin-right: auto;
  width: 350px;
  padding: 0 1rem;
}

form {
  display: flex;
  flex-flow: column;
  gap: 0.5rem;
}

.input-styles {
  border: 1px solid #d8e0e8;
  border-radius: 8px;
  background: #f8f9fd;
  margin-bottom: 1rem;
}

.button-style {
  color: #f1f2f4;
  border-radius: 8px;
  height: 3rem;
  margin-bottom: 3rem;
}

@media only screen and (min-width: 850px) {
  .flex-container {
    padding: 1rem 7rem 0;
    flex-flow: row-reverse;
    justify-content: space-between;
  }
  .image {
    padding: 0 4rem;
  }
  .form {
    margin-left: 0;
  }
}
